name: Release Helm Charts
on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Helm 3.17.3
        run: |
          curl -fsSL https://get.helm.sh/helm-v3.17.3-linux-amd64.tar.gz | tar -xz
          sudo mv linux-amd64/helm /usr/local/bin/helm

      - name: Check Helm version
        run: helm version

      - name: Lint Helm charts
        run: helm lint ./main-charts

      - name: Package Helm charts
        run: helm package ./main-charts

      - name: Upload Helm chart to GitHub Releases
        uses: softprops/action-gh-release@v1
        with:
          files: '*.tgz'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
