name: Release Helm Charts
on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Helm 3.17.3
        run: |
          curl -fsSL https://get.helm.sh/helm-v3.17.3-linux-amd64.tar.gz | tar -xz
          sudo mv linux-amd64/helm /usr/local/bin/helm

      - name: Check Helm version
        run: helm version

      - name: Lint Helm charts
        run: helm lint ./main-charts

      - name: Package Helm charts
        run: helm package ./main-charts

      - name: Extract Chart version
        id: chart_version
        run: |
          VERSION=$(grep '^version:' main-charts/Chart.yaml | awk '{print $2}')
          echo "chart_version=$VERSION" >> $GITHUB_OUTPUT

      - name: Create Git Tag from Chart.yaml
        run: |
          TAG="v${{ steps.chart_version.outputs.chart_version }}"
          echo "Creating tag $TAG"
          git config user.name "eltiocaballoloco-bot"
          git config user.email "eltio@noreply.github.com"
          git tag $TAG
          git push origin $TAG
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Helm chart to GitHub Releases
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ env.TAG }}
          files: '*.tgz'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
