name: Release Helm Charts
on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v1

      - name: Lint Helm charts
        run: helm lint ./charts

      - name: Package Helm charts
        run: helm package ./charts

      - name: Upload Helm chart to GitHub Releases
        uses: softprops/action-gh-release@v1
        with:
          files: '*.tgz'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}